{% extends '../layouts/front/base.html' %}
{% block content %}
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">
       <h5 class="card-title">About Krishi Bondhu</h5>
      </div>
      <div class="card-body">
        <p class="card-text lh-3">
          Quam viverra orci sagittis eu volutpat odio facilisis mauris. Purus faucibus ornare suspendisse sed nisi lacus. Imperdiet nulla malesuada pellentesque elit eget gravida. Pretium fusce id velit ut tortor pretium viverra suspendisse. Nibh sit amet commodo nulla. Arcu dui vivamus arcu felis bibendum. Justo eget magna fermentum iaculis eu non diam phasellus vestibulum. Sit amet luctus venenatis lectus magna fringilla urna porttitor rhoncus. Aenean sed adipiscing diam donec adipiscing tristique risus nec feugiat. Vulputate sapien nec sagittis aliquam. Pulvinar sapien et ligula ullamcorper malesuada proin libero. Viverra orci sagittis eu volutpat odio facilisis. Tellus id interdum velit laoreet id donec. Cras fermentum odio eu feugiat pretium. Sagittis orci a scelerisque purus semper eget duis. Vitae tempus quam pellentesque nec nam aliquam sem et tortor. Tristique magna sit amet purus gravida. Varius sit amet mattis vulputate enim nulla aliquet porttitor.

Faucibus interdum posuere lorem ipsum dolor sit amet. Quam pellentesque nec nam aliquam sem et tortor. Enim nec dui nunc mattis. Maecenas ultricies mi eget mauris pharetra et ultrices neque. Tincidunt eget nullam non nisi est sit. Orci eu lobortis elementum nibh tellus molestie nunc non blandit. Elementum nibh tellus molestie nunc non blandit massa enim. Tincidunt praesent semper feugiat nibh sed. Enim ut sem viverra aliquet. Tincidunt augue interdum velit euismod in pellentesque massa placerat. Velit egestas dui id ornare. Aliquet nibh praesent tristique magna sit amet purus gravida quis. Viverra nam libero justo laoreet sit amet cursus. Amet commodo nulla facilisi nullam vehicula ipsum a arcu cursus. In tellus integer feugiat scelerisque varius morbi enim nunc. Vitae sapien pellentesque habitant morbi tristique. Enim praesent elementum facilisis leo vel fringilla est. Quam lacus suspendisse faucibus interdum posuere lorem.
        </p>
        
      </div>
    </div>
  </div>
  
</div>

{% endblock %}