{% extends '../layouts/front/base.html' %}
{% block content %}
{% include './carousel.html' %}
<div class="row pt-2 pb-2">
  <div class="col-sm-6">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Ut tortor pretium viverra</h5>
        <p class="card-text">suspendisse potenti nullam. Convallis posuere morbi leo urna molestie at. Fermentum dui faucibus in ornare quam viverra. Ultrices neque ornare aenean euismod elementum nisi quis eleifend. Viverra orci sagittis eu volutpat odio facilisis. Nisi est sit amet facilisis magna etiam tempor orci. Ac turpis egestas maecenas pharetra convallis posuere.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Laoreet sit amet</h5>
        <p class="card-text">cursus sit amet. Sodales ut eu sem integer. Urna neque viverra justo nec ultrices dui. In nulla posuere sollicitudin aliquam ultrices sagittis orci a scelerisque. Amet consectetur adipiscing elit ut. Ultricies lacus sed turpis tincidunt id aliquet risus feugiat in</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}