{% extends '../layouts/back/base.html' %}
{% block content %}
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">
       <h5 class="card-title">Questions</h5>
      </div>
      <div class="card-body">
        <a href="{% url 'profiles:questions' %}"><button class="btn btn-primary"><i class="material-icons">list</i>All Quesions</button></a>
        <a href="{% url 'profiles:ask_questions' %}"><button class="btn btn-primary"> <i class="material-icons">add_circle_outline</i>Ask a question</button></a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <table class="table">
      <thead>
          <tr>
              <th class="text-center">#</th>
              <th>Qustion Title</th>
              <th>Quesition Topic</th>
              <th>Date asked</th>
              <th class="text-right">Status</th>
              <th class="text-right">Actions</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td class="text-center">1</td>
              <td>Andrew Mike</td>
              <td>Develop</td>
              <td>2013</td>
              <td class="text-right">&euro; 99,225</td>
              <td class="td-actions text-right">
                  <button type="button" rel="tooltip" class="btn btn-info">
                      <i class="material-icons">person</i>
                  </button>
                  <button type="button" rel="tooltip" class="btn btn-success">
                      <i class="material-icons">edit</i>
                  </button>
                  <button type="button" rel="tooltip" class="btn btn-danger">
                      <i class="material-icons">close</i>
                  </button>
              </td>
          </tr>
      </tbody>
    </table>
  </div>
</div>


{% endblock %}